USE [CourseworkPractice]
GO
/****** Object:  Table [dbo].[Curators]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Curators](
	[curator_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[middle_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[curator_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[type_id] [int] NOT NULL,
	[brand] [nvarchar](100) NULL,
	[model] [nvarchar](100) NULL,
	[inventory_number] [nvarchar](100) NOT NULL,
	[room] [nvarchar](50) NULL,
	[machine_name] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipmentTypes]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipmentTypes](
	[type_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](50) NOT NULL,
	[curator_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportTickets]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportTickets](
	[ticket_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[equipment_id] [int] NULL,
	[title] [nvarchar](200) NOT NULL,
	[description] [nvarchar](max) NOT NULL,
	[student_name_raw] [nvarchar](200) NULL,
	[telegram_raw] [nvarchar](100) NULL,
	[status] [nvarchar](50) NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK_SupportTickets] PRIMARY KEY CLUSTERED 
(
	[ticket_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketReplies]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketReplies](
	[reply_id] [int] IDENTITY(1,1) NOT NULL,
	[ticket_id] [int] NOT NULL,
	[message_text] [nvarchar](max) NOT NULL,
	[created_at] [datetime] NULL,
	[is_sent] [bit] NULL,
	[is_read] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[reply_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsageLog]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsageLog](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[equipment_id] [int] NOT NULL,
	[start_date] [datetime] NOT NULL,
	[end_date] [datetime] NULL,
	[auth_method] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 25.08.2026 16:02:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[middle_name] [nvarchar](100) NULL,
	[course] [int] NOT NULL,
	[group_id] [int] NOT NULL,
	[student_card_number] [nvarchar](50) NULL,
	[telegram_id] [bigint] NULL,
	[is_verified] [bit] NOT NULL,
	[telegram_username] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Curators] ON 

INSERT [dbo].[Curators] ([curator_id], [last_name], [first_name], [middle_name]) VALUES (1, N'Странцов', N'Игорь', N'Алексеевич')
INSERT [dbo].[Curators] ([curator_id], [last_name], [first_name], [middle_name]) VALUES (2, N'Кириллина', N'Злата', N'Павловна')
INSERT [dbo].[Curators] ([curator_id], [last_name], [first_name], [middle_name]) VALUES (3, N'Жошкина', N'Александра', N'Вадимовна')
SET IDENTITY_INSERT [dbo].[Curators] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([equipment_id], [type_id], [brand], [model], [inventory_number], [room], [machine_name]) VALUES (1, 1, N'ASUS', N'Vivobook 15', N'INV-001', N'1', N'LEVA')
INSERT [dbo].[Equipment] ([equipment_id], [type_id], [brand], [model], [inventory_number], [room], [machine_name]) VALUES (2, 1, N'HP', N'Pavilion', N'INV-002', N'26', NULL)
INSERT [dbo].[Equipment] ([equipment_id], [type_id], [brand], [model], [inventory_number], [room], [machine_name]) VALUES (3, 1, N'Lenovo', N'IdeaPad 3', N'INV-003', N'1', NULL)
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[EquipmentTypes] ON 

INSERT [dbo].[EquipmentTypes] ([type_id], [name]) VALUES (1, N'Ноутбук')
INSERT [dbo].[EquipmentTypes] ([type_id], [name]) VALUES (2, N'Графический планшет')
SET IDENTITY_INSERT [dbo].[EquipmentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Groups] ON 

INSERT [dbo].[Groups] ([group_id], [group_name], [curator_id]) VALUES (1, N'П9022', 1)
INSERT [dbo].[Groups] ([group_id], [group_name], [curator_id]) VALUES (2, N'Ф9123', 2)
INSERT [dbo].[Groups] ([group_id], [group_name], [curator_id]) VALUES (3, N'Ю9224', 3)
SET IDENTITY_INSERT [dbo].[Groups] OFF
GO
SET IDENTITY_INSERT [dbo].[SupportTickets] ON 

INSERT [dbo].[SupportTickets] ([ticket_id], [user_id], [equipment_id], [title], [description], [student_name_raw], [telegram_raw], [status], [created_at]) VALUES (1, NULL, NULL, N'Регистрация нового студента', N'Запрос на верификацию. Группа: П9022, Номер студенческого: 81', N'Маматов Лев', NULL, N'Одобрено', CAST(N'2026-06-23T14:40:04.400' AS DateTime))
INSERT [dbo].[SupportTickets] ([ticket_id], [user_id], [equipment_id], [title], [description], [student_name_raw], [telegram_raw], [status], [created_at]) VALUES (2, NULL, NULL, N'Регистрация нового студента', N'Запрос на верификацию. Группа: , Номер студенческого: ', N'Маматов Лев', NULL, N'Отклонено', CAST(N'2026-06-23T15:37:51.110' AS DateTime))
INSERT [dbo].[SupportTickets] ([ticket_id], [user_id], [equipment_id], [title], [description], [student_name_raw], [telegram_raw], [status], [created_at]) VALUES (3, NULL, NULL, N'Регистрация нового студента', N'Запрос на верификацию. Группа: , Номер студенческого: ', N'', NULL, N'Отклонено', CAST(N'2026-06-24T02:21:00.007' AS DateTime))
SET IDENTITY_INSERT [dbo].[SupportTickets] OFF
GO
SET IDENTITY_INSERT [dbo].[TicketReplies] ON 

INSERT [dbo].[TicketReplies] ([reply_id], [ticket_id], [message_text], [created_at], [is_sent], [is_read]) VALUES (3, 13, N'К сожалению, ваша заявка была отклонена администратором.', CAST(N'2026-06-24T13:32:25.743' AS DateTime), 0, 0)
INSERT [dbo].[TicketReplies] ([reply_id], [ticket_id], [message_text], [created_at], [is_sent], [is_read]) VALUES (4, 15, N'К сожалению, ваша заявка была отклонена администратором.', CAST(N'2026-06-24T14:48:02.600' AS DateTime), 0, 0)
INSERT [dbo].[TicketReplies] ([reply_id], [ticket_id], [message_text], [created_at], [is_sent], [is_read]) VALUES (5, 15, N'К сожалению, ваша заявка была отклонена администратором.', CAST(N'2026-06-24T14:48:02.773' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[TicketReplies] OFF
GO
SET IDENTITY_INSERT [dbo].[UsageLog] ON 

INSERT [dbo].[UsageLog] ([log_id], [user_id], [equipment_id], [start_date], [end_date], [auth_method]) VALUES (1, 1, 1, CAST(N'2026-05-12T04:40:00.257' AS DateTime), CAST(N'2026-06-14T04:32:29.690' AS DateTime), NULL)
INSERT [dbo].[UsageLog] ([log_id], [user_id], [equipment_id], [start_date], [end_date], [auth_method]) VALUES (2, 1, 1, CAST(N'2026-05-12T08:00:00.000' AS DateTime), CAST(N'2026-05-12T11:30:00.000' AS DateTime), NULL)
INSERT [dbo].[UsageLog] ([log_id], [user_id], [equipment_id], [start_date], [end_date], [auth_method]) VALUES (3, 1, 1, CAST(N'2026-05-09T08:00:00.000' AS DateTime), CAST(N'2026-05-09T11:30:00.000' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[UsageLog] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [last_name], [first_name], [middle_name], [course], [group_id], [student_card_number], [telegram_id], [is_verified], [telegram_username]) VALUES (1, N'Маматов', N'Лев', N'Юрьевич', 3, 1, N'81', NULL, 1, NULL)
INSERT [dbo].[Users] ([user_id], [last_name], [first_name], [middle_name], [course], [group_id], [student_card_number], [telegram_id], [is_verified], [telegram_username]) VALUES (2, N'Кузнецова', N'Анастасия', N'Валерьевна', 3, 1, N'1', NULL, 1, NULL)
INSERT [dbo].[Users] ([user_id], [last_name], [first_name], [middle_name], [course], [group_id], [student_card_number], [telegram_id], [is_verified], [telegram_username]) VALUES (3, N'Черцов', N'Савелий', N'Алексеевич', 3, 1, N'2', NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_SupportTickets_Status]  DEFAULT (N'Новое') FOR [status]
GO
ALTER TABLE [dbo].[SupportTickets] ADD  CONSTRAINT [DF_SupportTickets_CreatedAt]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TicketReplies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[TicketReplies] ADD  DEFAULT ((0)) FOR [is_sent]
GO
ALTER TABLE [dbo].[TicketReplies] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsVerified]  DEFAULT ((0)) FOR [is_verified]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Types] FOREIGN KEY([type_id])
REFERENCES [dbo].[EquipmentTypes] ([type_id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Types]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Curators] FOREIGN KEY([curator_id])
REFERENCES [dbo].[Curators] ([curator_id])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Curators]
GO
ALTER TABLE [dbo].[SupportTickets]  WITH CHECK ADD  CONSTRAINT [FK_SupportTickets_Equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[Equipment] ([equipment_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SupportTickets] CHECK CONSTRAINT [FK_SupportTickets_Equipment]
GO
ALTER TABLE [dbo].[SupportTickets]  WITH CHECK ADD  CONSTRAINT [FK_SupportTickets_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[SupportTickets] CHECK CONSTRAINT [FK_SupportTickets_Users]
GO
ALTER TABLE [dbo].[TicketReplies]  WITH CHECK ADD  CONSTRAINT [FK_TicketReplies_SupportTickets] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[SupportTickets] ([ticket_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TicketReplies] CHECK CONSTRAINT [FK_TicketReplies_SupportTickets]
GO
ALTER TABLE [dbo].[UsageLog]  WITH CHECK ADD  CONSTRAINT [FK_UsageLog_Equipment] FOREIGN KEY([equipment_id])
REFERENCES [dbo].[Equipment] ([equipment_id])
GO
ALTER TABLE [dbo].[UsageLog] CHECK CONSTRAINT [FK_UsageLog_Equipment]
GO
ALTER TABLE [dbo].[UsageLog]  WITH CHECK ADD  CONSTRAINT [FK_UsageLog_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[UsageLog] CHECK CONSTRAINT [FK_UsageLog_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Groups] FOREIGN KEY([group_id])
REFERENCES [dbo].[Groups] ([group_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Groups]
GO
ALTER TABLE [dbo].[UsageLog]  WITH CHECK ADD  CONSTRAINT [CHK_UsageLog_Dates] CHECK  (([end_date] IS NULL OR [end_date]>=[start_date]))
GO
ALTER TABLE [dbo].[UsageLog] CHECK CONSTRAINT [CHK_UsageLog_Dates]
GO
